.Checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
}
#CheckoutBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  background-color: #50b4d2;
  width: 100px;
}
#CheckoutOKBtn {
  border: none;
  background-color: #50b4d2;
}
