html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  margin-top: 70px;
  align-items: center;
}
#inputLoginInfo {
  width: 100vw;
}

#loginTitle {
  font-size: 24px;
  color: #a4a4a4;
  display: flex;
  justify-content: center;
}

.mb-3 {
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#formBasicEmail {
  height: 25px;
  width: 80%;
  border-radius: 0px;
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 15px;
}

#formBasicPassword {
  height: 25px;
  width: 80%;
  border-radius: 0px;
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 15px;
}

#loginBtnDiv {
  display: flex;
  justify-content: center;
}

#loginBtn {
  border: none;
  border-radius: 10px;
  background-color: #50b4d2;
  width: 70vw;
  height: 41px;
}

#loginBtnText {
  margin: 0px;
  color: white;
}
