.navigation__wrapper {
  position: fixed;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  z-index: 1;
  top: 0;
  background-color: #50b4d2;
}

@media (max-width: 1799px) {
  .burger__menu,
  .x__menu {
    margin-left: 25px;
    width: 55px;
    cursor: pointer;
  }

  .burger__menu > div,
  .x__menu > div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
  }

  .x__menu > .burger_line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .x__menu > .burger_line2 {
    opacity: 0;
  }

  .x__menu > .burger_line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .menu__box__visible {
    width: 220px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 75px;
    background-color: white;
    z-index: 1;
    box-shadow: 2px 0px 1px rgba(44, 44, 44, 0.137);
  }

  .menu__box__hidden {
    display: none;
  }

  .menu__list {
    display: flex;
    flex-direction: column;
  }

  .menu__item {
    margin: 15px 0;
  }
}

@media (min-width: 1800px) {
  .navigation__wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .burger__menu,
  .x__menu {
    display: none;
  }

  .menu__box {
    width: 50%;
    height: fit-content;
  }

  .menu__list {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    padding: 12px;
  }
}

.Hello {
  padding: 10px 20px;
  display: flex;
  font-size: larger;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 0px;
  padding-right: 0px;
}

.Use_List {
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 60%);
  margin: 10px;
  font-size: large;
}

.info {
  padding-top: 10px;
  padding-left: 5px;
}

.dividingLine {
  margin: 0px;
  color: black;
}

.headerText {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-right: 60px;
  margin-top: 2px;
}

.headerTextTitle {
  color: white;
  font-size: larger;
}

#LogoutBtn {
  background-color: #d5d5d5;
  border: none;
  cursor: pointer;
  margin-left: 105px;
  bottom: 0;
  font-size: medium;
  border-radius: 5px;
}
