/* 헤더 */
/* header {
  height: 100px;
  background-color: #50b4d2;
  color: white;
  display: flex;
  width: 100%;
  padding: 0px;
  justify-content: center;
}

.headerContents {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}

.headerText {
  flex: 1;
  text-align: center;
  font-size: large;
} */


.navigation__wrapper {
  width: 100%;
  height: 75px;
  position: fixed;
  left:10px;
  display: flex;
  align-items: center;
  top: 0;
  z-index: 9999;
  background-color: #50b4d2;
    /* border-bottom: 1px solid rgba(44, 44, 44, 0.233); */
    /* box-shadow: 0px 2px 3px rgba(44, 44, 44, 0.137); */
  }
  
  /* 얘가 리스트 */
  .menu__list {
    display: flex;
    justify-content: center;
  }
  
  @media (max-width: 3000px) {
    .burger__menu,
    .x__menu {
      display: block;
      margin-left: 20px;
      cursor: pointer;
      color : white;
    }
  
    .burger__menu > div,
    .x__menu > div {
      width: 25px;
      height: 3px;
      background-color: black;
      margin: 5px;
      transition: all 0.3s ease;
    }
  
    .x__menu > .burger_line1 {
      transform: rotate(-45deg) translate(-5px, 6px);
      color : white;
    }
  
    .x__menu > .burger_line2 {
      opacity: 0;
      color : white;
    }
  
    .x__menu > .burger_line3 {
      transform: rotate(45deg) translate(-5px, -6px);
      color : white;
    }
  
    .menu__box__visible {
      width: 220px;
      height: 100%;
      position: fixed;
      left: 0;
      top: 76px;
      background-color: #FF0000;
      /* box-shadow: 2px 0px 1px rgba(44, 44, 44, 0.137); */
      color : white;
    }
  
    .menu__box__hidden {
      display: none;
      color : white;
    }
  
    .menu__list {
      position: relative;
      top: 50px;
      left: 50px;
      flex-direction: column;
    }
  
    .menu__item {
      margin: 15px 0;
      color : white;
    }
    
  }
  
  @media (min-width: 2000px) {
    .navigation__wrapper {
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  
    .burger__menu,
    .x__menu {
      display: none;
    }
  
    .menu__box {
      width: 50%;
      height: fit-content;
    }
  
    .menu__list {
      flex-direction: row;
      align-items: center;
      display: flex;

    }
  }

  .Hello{
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 90%;
    text-align:center;  
    font-size: 18px;  
    line-height: 1.5;
    }

  .checkOut{
    display: flex;
    justify-content: center;
    padding: 12px;
    /* margin-left: 2%; */
    /* margin-right: 2%;         */
    border-radius: 5%;
    /* background-color: white;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: p
    ointer; */
  }
  .dividingLine{
    display: flex;
    margin-left: 40px;
    cursor: pointer;
  }