#Container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#openScannerModal {
  position: fixed;
  border: solid rgb(81, 180, 210);
  background-color: rgba(81, 180, 210, 0.2);
  width: 80px;
  height: 55px;
  color: #50b4d2;
  border-radius: 30px;
  bottom: 10px;
  border: none;
  cursor: pointer;
}

.ModalTitle {
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 0%;
}

.ModalBody {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 20px;
  height: 100%;
  text-align: center;
  padding-bottom: 10%;
}

#modalContents {
  display: flex;
  flex-direction: column;
}

#scannerModalBodyTitle {
  padding-top: 10px;
  display: flexbox;
  flex-direction: column;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}

#scannerModalBodyContent {
  font-size: 20px;
  padding-top: 10px;
  margin-bottom: 10px;
  text-align: left;
}

#closeBtn {
  background-color: white;
  color: #b5b5b5;
  border: none;
  cursor: pointer;
}

#checkBtn {
  background-color: white;
  color: rgba(0, 0, 0, 0.8);
  border: none;
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
}
